/*
    Document   : main
    Created on : May 18, 2013, 11:41:42 AM
    Author     : ElyDeLaCruz
    Description:
    Purpose of the stylesheet follows.
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
    Doc rules:
        Nesting: No more than 3 levels
*/

/** Common Classes **/
@import "partials/base";
@import "common-classes/960-fluid";

/** Grid modifications
-------------------------------------------------------------*/
.container_16 {
    min-width: 860px;
}

* {
    -webkit-box-sizing: box-content;
    -moz-box-sizing: box-content;
    -ms-box-sizing: box-content;
    -o-box-sizing: box-content;
    box-sizing: box-content;
}

html, body {
    margin: 0; padding: 0;
    text-align: center;
    font: normal 96% "Century Gothic", 
        Helvetica, Verdana, Arial, Sans-serif;
    background: #EEE;
    color: #555555;
}

body {
    overflow: scroll;
}

#wrapper,
#wrapper > div,
#wrapper > nav,
#wrapper > footer,
#wrapper > section {
    position: relative;
    width: 100%;
    min-width: 960px;
    height: auto;
    text-align: left;
}

/** Main Wrapper
------------------------------------------------------------------------------*/
#wrapper {
    min-height: 960px;
    > section.main {
        background: #EEE;
    }
    > footer .menu,
    > nav .main.menu {
        li {
            padding: 1%;
        }
        li a {
            color: #888888;
        }
    }
}

/** Main Column
------------------------------------------------------------------------------*/
#main {
    background: #FFF;
    min-height: 400px;
    height: 100%;
    > .articles > article {
        border-bottom: 1px dashed #EEEEEE;
        header {
            border-bottom: 1px solid #888888;
        }
    }
}

/** Right Column
------------------------------------------------------------------------------*/
#right {
    .module {
        margin: 10px;
    }
    height: 100%;
}

/** Common Classes **/
@import "common-classes/common-classes";
@import "common-classes/margin-and-padding";
@import "common-classes/grayscale";
@import "desktop/view-modules"
