[submodule "public/libraries/phpjs"]
	path = public/libraries/phpjs
	url = https://github.com/elycruz/phpjs.git
[submodule "public/libraries/requirejs"]
	path = public/libraries/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "public/libraries/jquery"]
	path = public/libraries/jquery
	url = git://github.com/jquery/jquery.git
[submodule ".\\public\\module-templates\\edm-ko-ui-2"]
	path = .\\public\\module-templates\\edm-ko-ui-2
	url = git@github.com:elycruz/edm-ko-ui.git
[submodule ".\\public\\module-templates\\edm-ko-ui"]
	path = .\\public\\module-templates\\edm-ko-ui
	url = git@github.com:elycruz/edm-ko-ui.git
