<!DOCTYPE html>
<html>
    <head>
        <title>Edm Cms - Ajax Interface</title>
        <meta charset="UTF-8">
        <link rel="stylesheet/less" href="less/main.less" media="all" />
        <link rel="stylesheet" href="http://fedls/960-fluid.css" media="all" />
        <script 
            data-main="/module-templates/edm-ui/src/edm/main" 
        src="http://fedls/require.js"></script>
    </head>
    <body xmlns:ng="http://angularjs.org">
        <div id="wrapper">

            <header>
                <h1 class="fl">Edm Cms</h1>
                <div class="user-controls fl">
                    <a href="#!/user/logout">Log out</a>
                </div>
            </header>

            <nav data-ng-controller="MainNavCtrl">
                <ul-menu items="navData.collection" 
                         ng-class="navData.ulAttribs['class']">
                </ul-menu>
            </nav>

            <section>
                <div id="left" class="bg-c fl"
                     data-ng-controller="LeftColCtrl">
                    <div class="handle controls">
                        <a href="#"><span>&gt;&gt;</span></a>
                    </div>
                    <div data-left-col-menu-module
                         data-module="module"
                         data-ng-repeat="module in navData">
                    </div>
                    <br class="cb" />
                </div>

                <div id="main" class="fl">
                    <section class="module w100p base-rounded-module fl module-2 m1p"
                             data-ng-controller="DemoCtrl">
                        <header>
                            <h3>Writing angular directives (hello world)</h3>
                        </header>
                        <div class="body">
                            <div class="content">
                                <div class="form-item m10px">
                                    <label for="name">Name:</label><br />
                                    <input data-ng-model="name"
                                           class="p1p" 
                                           name="name" id="name" 
                                           type="text" size="38" />
                                </div>

                                <div data-demo-greet="name"
                                     data-ng-repeat="i in [1, 0]"
                                     class="w92p p1p m10px" 
                                     style="background: #cccccc; 
                                     border: 1px solid #888888; 
                                     border-radius: 10px;">
                                </div>
                            </div>
                        </div>
                        <footer></footer>
                    </section>
                </div>
            </section> <!-- /main content section -->

            <footer>
                &copy;2012 and beyond <a href="http://elycruz.com">ElyCruz</a>
            </footer>

        </div> <!-- /#wrapper -->

        <!-- SCRIPTS 
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->

    </body>
</html>
