edm-application /deep/ .paginator,
                       .paginator {
  input {
    padding: 5.75px;
  }
  .control-item {
    margin: 5px;
    float: left;
  }
  .number {
    font-family: Georgia, "Times New Roman", Serif;
  }
}