edm-application /deep/ .table-options,
                       .table-options {

    position: relative;

    form {

        position: absolute;

        // Half of triangles height
        top: 50px;

        min-width: 160px;
        background: #FFF;
        border: 1px solid #888;
        @include border-radius(10px);
        @include box-shadow(0 0 20px rgba(0,0,0,0.38));

        // Bubble's triangle
        @include triangle($float: none, $width: 8px, $margin: 0,
        $color: #FFF, $border-color: #888, $border-width: 1px);

        label {
            @include single-transition(color 0.016s linear);
            color: #555;
            vertical-align: text-top;
            border-bottom: 0 solid #fff;

            &:hover {
                color: #333;
                border-color: #333;
                border-width: 1px;
            }

            &:active {
                color: #000;
                border-bottom: 1px solid #000;
            }
        }

        // Top offset is triangle width + (2 * $border-width)
        .triangle.points-north {
            position: absolute;
            top: -20px;
            left: 10px;
            z-index: 9999;
        }

        .form-item {
            margin: 5px;
        }

    }
}