@charset "utf-8";
/* CSS Document */

/* modules
--------------------------------------------------------------------------------*/
.module {
	width: 100%;
	margin-bottom: 1%;
	margin-top: 1%;
}
.module > div.header,
.module > div.footer,
.module > div.body {
	position: relative;
	clear: both; 
	width: 100%;
}

/** module-1
----------------------------**/
.module-1 {
	position: relative;
	background-color: #AAAAAA;
	border-radius: 10px;
}
.module-1 > div.header {
	font-family: Georgia, "Times New Roman", Times, serif;
	height: 20px; color: #FFFFFF;
	background: url( ../images//module-1/header.png ) repeat-x;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.module-1 > div.header > span {
	display: block; 
	font-size: 12px; padding: 3px 0 0 8px;
	text-shadow: #000066;
}
.module-1 > div.body {
	float: left;
	height: auto !important;
	background: #EEEEEE url(../images/control_bar_bg.gif) repeat-x bottom;
}
.module-1 > .body > .content {
	margin: 20px;
}
.module-1 > div.footer {
	height: 20px;
	background: #CCCCCC;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.module-1 a {
	font-size: 11px;
	text-decoration: none;
}

/** module-2
----------------------------**/
.module-2 {
	position: relative;
	color: #FFFFFF;
	width: 220px;
}
.module-2 div.header {
	font-weight: bold;
	background: url(../images/interface//module-2/header.png); height: 36px;
}
.module-2 div.header span {
	display: block; 
	font-size: 18px; padding-top: 5px;	
}
.module-2 div.body {
	float: left;
	background: url(../images/interface/layout_02//module-2/body.png); height: auto !important;
}
.module-2 div.footer {
	background: url(../images/interface/layout_02//module-2/footer.png); height: 20px;
}
.module-2 a {
	font-size: 11px;
	text-decoration: none;
}