
<!-- Table template
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
<script id="table-tmpl" type="text/html">
    <table>
        <!-- ko if: !empty(columns) -->
        <thead>
            <!-- ko template: {name: 'thead-headerText-tmpl', if: headerText} -->
            <!-- /ko -->
            <!-- ko template: {name: 'thead-columns-tmpl'} --><!-- /ko -->
        </thead>
        <!-- ko if: !empty(data) -->
        <!-- ko template: {name: 'tbody-tmpl'} --><!-- /ko -->
        <!-- /ko -->
        <tfoot>
            <tr>
                <th data-bind="attr: {colspan: $root.columns.length}"></th>
            </tr>
        </tfoot>
        <!-- /ko -->
    </table>
</script>

<!-- Table head header text template
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
<script id="thead-headerText-tmpl" type="text/html">
    <tr data-bind="if: headerText">
        <th data-bind="text: headerText, 
            attr: {colspan: columns.length}"></th>
    </tr>
</script>

<!-- Table head columns template
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
<script id="thead-columns-tmpl" type="text/html">
    <tr data-bind="foreach: columns">
        <th data-bind="text: label">Table head cell</th>
    </tr>
</script>

<!-- Table body template
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
<script id="tbody-tmpl" type="text/html">
    <tbody data-bind="foreach: data">
        <tr data-bind="foreach: $root.columns">
            <!-- ko ifnot: (typeof $parent.alias === 'function') -->
            <td data-bind="text: $parent[$data.alias]">Table data cell</td>
            <!-- /ko -->
        </tr>
    </tbody>
</script>
