/*
    Document   : reusable-short-hand-classes
    Created on : May 18, 2013, 4:07:34 PM
    Author     : ElyDeLaCruz
    Description:
    Purpose of the stylesheet follows.
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/


/** Mixins
======================================================================**/
@import "mixins/mixins";

/** Common Classes
======================================================================**/
edm-application /deep/ {
    @import "clearfix";
    @import "display";
    @import "float";
    @import "grayscale";
    @import "key-value-pair";
    @import "margin-and-padding";
    @import "position";
    @import "text";
    @import "ul-menu";
}
