/** Display
--------------------------------------------------**/
.display-none,
.none {
  display: none !important;
}
.display-block,
.block {
  display: block;
}
.display-inline,
.inline {
  display: inline;
}
.display-inline-block,
.inline-block {
  display: inline-block;
}