/** Floats
--------------------------------------------------**/
.fl, .float-left {
  float: left !important;
}
.fr, .float-right {
  float: right !important;
}
.cl, .clear-left {
  clear: left !important;
}
.cr, .clear-right {
  clear: right !important;
}
.cb, .clear-both {
  clear: both !important;
}
