<!-- Left col menu module template
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
<script id="simple-tabs-tmpl" type="text/html">
    <section class="module module-1 module-3 fl">
        <header data-bind="attr: getAttribs()">
            <ul data-bind="foreach: items">
                <li><a><span data-bind="text: label"></span></a></li>
            </ul>
        </header>
        <section>
            <!-- ko template: {name: 'simple-tabs-tab-body-tmpl', foreach: items} --><!-- /ko -->
            <br class="cb" />
        </section>
    </section>
</script>


<!-- Simple Tabs Tab Body template
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
<script id="simple-tabs-tab-body-tmpl" type="text/html">
    <div data-bind="attr: getAttribs()">
    </div>
</script>
